<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../static/style.css">
	<title>Potlog</title>
</head>
<body>
	<table class="albumtable">
		<thead>
			<tr>
				<th style="width: 100px;">Data</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			{# Looper gjennom hver entry i potlog og legger den til i tabellen #}
			{% for p in potdata %}
			<tr>
				<th style="width: 100px;">{{ p.value }}</th>
				<th>{{ p.time }}</th>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>